<h1 class="text-center">Angular Material</h1>
<!-- material slider angular -->
<div class="d-flex w-100 justify-content-center align-items-center">
	<label class="mx-4 fs-5 p-0 my-0">Slider</label>
	<mat-slider></mat-slider>
</div>
<hr>
<!--Simple autocomplite  -->
<h2 class="text-center"><strong>Auto complete Example</strong></h2>
<div class="d-flex w-100 justify-content-center align-items-center">
	<form>
		<mat-form-field>
			<mat-label>Number</mat-label>
			<input type="text"
				   placeholder="Pick one"
				   aria-label="Number"
				   matInput
				   [formControl]="form"
				   [matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete">
			  <mat-option *ngFor="let option of options" [value]="option">
				{{option}}
			  </mat-option>
			</mat-autocomplete>
		</mat-form-field>
	  </form>
</div>
<hr>
<!--Badge  -->
<h2 class="text-center"><strong>Badge Example</strong></h2>
<div class="d-flex w-100 justify-content-center align-items-center">
	<button 
		[matBadgeHidden]="hidden"
		[matBadge]="count"
		mat-raised-button
		matBadgeColor="accent"
		matBadgeOverlap="false"
		(click)="toggleBage()"
	>Badge</button>
</div>
<hr>
<!--dialog  -->
<h2 class="text-center"><strong>Dialog Example</strong></h2>
<div class="d-flex w-100 justify-content-center align-items-center">
	<button
		mat-raised-button
		(click)="openDialog()"
	>Dialog</button>
</div>
<hr>
<!-- icons -->
<h2 class="text-center"><strong>Icon Example</strong></h2>
<div class="d-flex w-100 justify-content-center align-items-center">
	<mat-icon> home </mat-icon>
</div>
<hr>
<!-- Table -->
<h2 class="text-center"><strong>Table Example</strong></h2>
<div class="d-flex w-100 justify-content-center align-items-center">
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-50 my-4">
	  
		<!-- Position Column -->
		<ng-container matColumnDef="possition">
		  <th mat-header-cell *matHeaderCellDef> No. </th>
		  <td mat-cell *matCellDef="let element" [innerHTML]="element.possition"></td>
		</ng-container>
	  
		<!-- Name Column -->
		<ng-container matColumnDef="name">
		  <th mat-header-cell *matHeaderCellDef> Name </th>
		  <td mat-cell *matCellDef="let element" [innerHTML]="element.name"></td>
		</ng-container>
	  
		<!-- Address Column -->
		<ng-container matColumnDef="address">
		  <th mat-header-cell *matHeaderCellDef> Address </th>
		  <td mat-cell *matCellDef="let element" [innerHTML]="element.address"></td>
		</ng-container>
	  
		<!-- Age Column -->
		<ng-container matColumnDef="age">
		  <th mat-header-cell *matHeaderCellDef> Age </th>
		  <td mat-cell *matCellDef="let element" [innerHTML]="element.age"></td>
		</ng-container>

		<!-- phno Column -->
		<ng-container matColumnDef="phno">
			<th mat-header-cell *matHeaderCellDef> Phone No. </th>
			<td mat-cell *matCellDef="let element" [innerHTML]="element.phno"></td>
		  </ng-container>
	  
		<tr mat-header-row *matHeaderRowDef="TABLE_HEADER"></tr>
		<tr mat-row *matRowDef="let row; columns: TABLE_HEADER;"></tr>
	  </table>	  
</div>